html,
body 
{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  
}#viewDiv{
    height: 93%; width:100%;  padding: 0; margin: 0;
}
.nav_bar{
    background-color: #00FF00;   
    z-index: 2;   
    
    padding: 7px;
}.nav_bar i{
    right: 5px;
}
.nav_bar i:hover{
   color: red;
}

.nav_bar b {float: right}

.manu-box{
    position: absolute;
    height: 35%;
    top: 8%;
    overflow: auto;
    left:-200px; width:150px;  background-color: #eeee; border: 1px slid black;
    z-index: 2;
    padding: 7px;  text-align: center;
    font-weight: 100;
}.tool{
    border-bottom: 1px solid black;   padding-bottom: 7px; cursor: pointer;
}.tool:hover{
    color:red;
    font-weight: bold;
}.tool-container{
    display: none;
    position: absolute;
    right: -350px;
    width: 250px;
    height: 45%;
    bottom: 25px;  overflow: auto;
    
    background-color: white;  z-index: 2;  padding: 5px;

}.hide-tool-container{ padding: 4px;  color: white; background-color: rgb(238, 48, 48); border-radius: 5px;margin-bottom: 10px;}
.tool-c{display: none;}
 b{
    padding-bottom: 10px;border-bottom: 1px solid #ffff;
}

.relation{
    position: absolute;  display: none;  top: 8%;  width: 40%; height: 30%;  z-index: 3;
    background-color: white;overflow: auto; right:5px;
}.hide-chart{top: 3px; left: 3px; padding: 5px; border-radius: 4px; background-color: tomato; 
}
.relation i{
    padding: 3px;
    float: right;
}

